API_ID =  19628466
API_HASH = "9c1aa6bf07a9cbcaa1c577d489ac1da3"
BOT_TOKEN = "5475978726:AAGs8xWcKbljgvcRDLJdRqX0gTwHyZg0uAk"
SUDO_USERS = "" # List of sudo user's id, separated by space.
DOWNLOAD_DIR = "" # Download directory where to download files. Must ends with forward slash > / <
